In [10]:
import pandas as pd
import numpy as np
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/mohamed/miniconda3/lib/python3.9/site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in /home/mohamed/miniconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [13]:
df = pd.read_excel("games/2016 complete match data OraclesElixir 2018-12-18.xlsx", engine='openpyxl')
df.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'gamelength', 'result', 'k', 'd', 'a', 'teamkills',
       'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas', 'fb',
       'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd', 'fdtime',
       'teamdragkills', 'oppdragkills', 'herald', 'heraldtime', 'ft', 'fttime',
       'firsttothreetowers', 'teamtowerkills', 'opptowerkills', 'fbaron',
       'fbarontime', 'teambaronkills', 'oppbaronkills', 'dmgtochamps',
       'dmgtochampsperminute', 'dmgshare', 'earnedgoldshare', 'wards', 'wpm',
       'wardshare', 'wardkills', 'wcpm', 'visionwards', 'visionwardbuys',
       'visiblewardclearrate', 'invisiblewardclearrate', 'totalgold',
       'earnedgpm', 'goldspent', 'gspd', 'minionkills', 'monsterkills',
       'monsterkillsownjungle', 'monsterkillsenemyjungle', 'cspm',
       'cssharepost15', 'csat10', 'oppcsat10', 'csdat10', 'goldat10',
       'oppgoldat10', 'gdat10', 'goldat15', 'oppgoldat15', 'gdat15', 'xpat10',
       'oppxpat10', 'xpdat10'],
      dtype='object')

In [15]:
np.unique(df.league.values)
df = df[df.league.isin(['EULCS', 'LCK', 'NALCS', 'WC'])]
#To remove : CBLol, EUCS, LMS, NACS

In [16]:
df =df[["gameid", "champion", "side", "position", "result"]]
df = df.dropna()
positions = list(np.unique(df.position))
games = list(np.unique(df.gameid))
sides = list(np.unique(df.side))
champions = sorted(list(np.unique(df.champion)))

In [17]:
df

           gameid champion  side position  result
0      1001470051     Olaf  Blue      Top       1
1      1001470051      Zac  Blue   Jungle       1
2      1001470051  LeBlanc  Blue   Middle       1
3      1001470051   Lucian  Blue      ADC       1
4      1001470051    Poppy  Blue  Support       1
...           ...      ...   ...      ...     ...
19817  1001960067  Trundle   Red      Top       1
19818  1001960067  Lee Sin   Red   Jungle       1
19819  1001960067   Viktor   Red   Middle       1
19820  1001960067     Ashe   Red      ADC       1
19821  1001960067    Braum   Red  Support       1

[12440 rows x 5 columns]

In [19]:
counts = {}
for c in champions:
    counts[c] = df[df.champion == c].shape[0]

In [20]:
occ_sorted = sorted(counts.items(), key = lambda x:x[1])[::-1]

In [8]:
match_datas = []

for g in games:
    d = {}
    df_g = df[df.gameid == g]
    blue_team = list(df_g[df_g.side == "Blue"].champion.values)
    red_team = list(df_g[df_g.side == "Red"].champion.values)
    b_win = df_g[df_g.side == "Blue"].result.values[0]
    r_win = df_g[df_g.side == "Red"].result.values[1]
    if b_win:
        d["winner"] = sorted(red_team)
        d["loser"] = sorted(blue_team)
    else:
        d["winner"] = sorted(blue_team)
        d["loser"] = sorted(red_team)
    match_datas.append(d)

In [22]:
def count_occurrences(datas, filter_):
    c = 0
    for k in datas:
        if filter_(k) == 1:
            c += 1
    return c

In [23]:
count_wins = lambda c:count_occurrences(match_datas, lambda x:1 if c in x["winner"] else 0)
count_apparitions = lambda c:count_occurrences(match_datas, lambda x:1 if c in x["winner"] or c in x["loser"] else 0)
get_winrate = lambda c:count_wins(c)/count_apparitions(c)

In [25]:
len(champions)

111

In [26]:
get_winrate("Amumu")

0.5

In [27]:
count_wins("Amumu")

1

In [28]:
count_apparitions("Amumu")

2